html{
  display: unset;
}

body {
  background-color:rgb(232, 222, 248); 
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
  color: rgb(66, 2, 38); text-align:unset; 
}

h1{
  font-size: 30px;
}

h2 {
  font-size: 18px;
}

img {
  border-radius:150px 100px 150px 100px;padding: 30px; align-self:auto;
} 

button{
  align-items: center; font-size: 15px; 
 border-radius: 10px; padding: 5px; display: block;
  text-align: center; margin: 30px 10px 30px 10px;
color: rgb(17, 10, 63);
}

 .nav_bar{ background-color:rgb(0, 161, 161) ;color: rgb(255, 255, 255); margin: 30px;

 }

.Top_Bar {
   display:flex; align-items: center; padding: 0px;
   background-color: rgb(63, 146, 255); size: 5px;
 box-shadow: 0 4px 6px rgba(0, 0, 0, 010.10);
}

.p1 {
  border: solid; background-color: rgb(63, 146, 255); color: rgb(46, 5, 70); 
 padding: 10px; margin: 10px;
}
